<div
  role="alert"
  class="alert alert-danger login-result-message"
  *ngIf="errorMessage"
>
  {{errorMessage}}
</div>

<div>
  <form
    novalidate
    #loginForm="ngForm"
    (ngSubmit)="handleSubmit()"
  >
    <div class="form-group">
      <label>
        E-mail
        <sup class="text-danger">*</sup>
      </label>
      <input
        required
        type="email"
        class="form-control field-email"
        [class.is-invalid]="email.invalid && email.touched"
        placeholder="Wpisz e-mail"
        name="email"
        #email="ngModel"
        [(ngModel)]="user.email"
        maxlength="50"
        minlength="3"
      >
      <!-- <pre>{{email.errors | json}}</pre> -->
      <small
        class="text-danger"
        *ngIf="email.touched"
      >
        <span *ngIf="email.errors?.required">Pole email jest puste</span>
        <span *ngIf="email.errors?.minlength">Pole email jest za krótkie</span>
        <span *ngIf="email.errors?.maxlength">Pole email jest za długie</span>
      </small>
    </div>
    <div class="form-group">
      <label>
        Hasło
        <sup class="text-danger">*</sup>
      </label>
      <input
        required
        type="password"
        class="form-control field-password"
        [class.is-invalid]="password.invalid && password.touched"
        placeholder="Wpisz hasło"
        name="password"
        #password="ngModel"
        [(ngModel)]="user.password"
        maxlength="50"
        minlength="3"
      >
      <!-- <pre>{{password.errors | json}}</pre> -->
      <small
        class="text-danger"
        *ngIf="password.touched"
      >
        <span *ngIf="password.errors?.required">Hasło jest puste</span>
        <span *ngIf="password.errors?.minlength">Hasło jest za krótkie</span>
        <span *ngIf="password.errors?.maxlength">Hasło jest za długie</span>
      </small>
    </div>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-primary button-submit"
    >
      Zaloguj
    </button>
  </form>
</div>
