<nav class="mb-4">
  <ul class="nav float-left">
    <li>
      <a
        class="btn btn-outline-primary"
        routerLinkActive="btn-primary text-white"
        [routerLinkActiveOptions]={exact:true}
        routerLink="/"
      >
        Strona główna
      </a>
    </li>
    <li>
      <a
        class="btn btn-outline-primary ml-1 mr-1"
        routerLinkActive="btn-primary text-white"
        [routerLinkActiveOptions]={exact:true}
        routerLink="/movies"
      >
        Filmy
      </a>
    </li>
    <li>
      <a
        class="btn btn-outline-primary"
        routerLinkActive="btn-primary text-white"
        [routerLinkActiveOptions]={exact:true}
        routerLink="/contact"
      >
        Kontakt
      </a>
    </li>
  </ul>

  <ul
    class="nav float-right"
    *ngIf="!isLoggedUser"
  >
    <li>
      <a
        class="btn btn-outline-success mr-1"
        routerLink="/user/register"
        routerLinkActive="btn-success text-white"
        [routerLinkActiveOptions]={exact:true}
      >Rejestracja</a>
    </li>
    <li>
      <a
        class="btn btn-outline-success"
        routerLink="/user/login"
        routerLinkActive="btn-success text-white"
        [routerLinkActiveOptions]={exact:true}
      >Logowanie</a>
    </li>
  </ul>

  <ul
    class="nav float-right"
    *ngIf="isLoggedUser"
  >
    <li>
      {{loggedUserName}}
    </li>
    <li>
      <a
        class="btn btn-outline-danger"
        routerLink="/user/logout"
        routerLinkActive="btn-danger text-white"
        [routerLinkActiveOptions]={exact:true}
      >Wyloguj
      </a>
    </li>
  </ul>

  <div class="clearfix"></div>
</nav>
