<nav>
  <ul class="nav">
    <li>
      <a class="btn btn-default mr-1" routerLinkActive="btn-primary" [routerLinkActiveOptions]={exact:true}
        routerLink="/">
        Strona główna
      </a>
    </li>
    <li>
      <a class="btn btn-default mr-1" routerLinkActive="btn-primary" [routerLinkActiveOptions]={exact:true}
        routerLink="/movies">
        Filmy
      </a>
    </li>
    <li>
      <a class="btn btn-default" routerLinkActive="btn-primary" [routerLinkActiveOptions]={exact:true}
        routerLink="/contact">
        Kontakt
      </a>
    </li>
  </ul>
</nav>