<nav class="mb-1">
  <ul class="nav">
    <li>
      <a class="btn btn-outline-primary" routerLinkActive="btn-primary text-white" [routerLinkActiveOptions]={exact:true}
        routerLink="/">
        Strona główna
      </a>
    </li>
    <li>
      <a class="btn btn-outline-primary ml-1 mr-1" routerLinkActive="btn-primary" [routerLinkActiveOptions]={exact:true}
        routerLink="/movies">
        Filmy
      </a>
    </li>
    <li>
      <a class="btn btn-outline-primary" routerLinkActive="btn-primary" [routerLinkActiveOptions]={exact:true}
        routerLink="/contact">
        Kontakt
      </a>
    </li>
  </ul>
</nav>